@import ../variables


// boolean element
.Formol_Field--type-checkbox .Formol_Field, .Formol_Field--type-radio .Formol_Field, .Formol_Field--type-checkbox-set .Formol_FieldSet, .Formol_Field--type-radio-set .Formol_FieldSet
  &__title
    &::after
      color: inherit
      content: '•'
      display: inline-block
      font-size: 1.75em
      line-height: 0
      margin-left: .25em
      // opacity: .15
      // transition: opacity .2s
      vertical-align: middle

  &__label
    border: transparent
    border-bottom: solid 2px
    border-radius: 0
    padding: .75em .25em
    transition: background-color .2s, border-color .2s

  &__label:hover &__title::after, &__label--on &__title::after
    opacity: 1


.Formol_Field--type-checkbox-set .Formol_FieldSet, .Formol_Field--type-radio-set .Formol_FieldSet
  &__title
    &::after
      opacity: .15


  // &__label:hover &__title::after, &__label--on &__title::after
    opacity: 1
