=hidden-input
  bottom: 0
  height: 0
  left: 0
  margin: auto !important
  opacity: 0
  position: absolute
  right: 0
  width: 0
  z-index: -1


=field-colors($color)
  color: $color

  .Formol_Field__element
    border-color: $color
