.Formol_Field
  +field-colors($formol-color-inactive)
  margin: $formol-field-margin 0
  max-width: 100%
  width: fit-content
  width: -moz-fit-content
  width: -webkit-fit-content

  &--required &__title
    &::before
      content: '* '

  &--readOnly
    &.Formol_Field--required
      .Formol_Field__title::before
        display: none

    .Formol_Field
      &__title
        font-size: $formol-font-size * .7

      &__element
        +read-only-field__element

    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0

  // states
  &:hover
    +field-colors($formol-color)

  &--modified, &--modified:hover
    +field-colors($formol-color)

  &--focus, &--focus:hover
    +field-colors($formol-color-action)

    *:focus
      outline: transparent

  &--error, &--error:hover
    +field-colors($formol-color-error)
    box-shadow: none


  // elements
  &__label
    color: inherit

  &__title
    color: inherit
    display: flex
    font-size: $formol-font-size * .85
    transition: color .2s
    width: 100%

    > svg
      margin-left: .5em
      min-width: 1em

  &__element
    background-color: $formol-background-color
    border: solid 1px
    border-color: inherit
    border-radius: .15em
    box-sizing: border-box
    box-shadow: none
    color: $formol-color
    font: inherit
    margin: .5em 0
    max-width: 100%
    padding: $formol-field-padding
    transition: border-color .2s

  &__unit
    display: inline-block
    margin-left: .75em

  &__error-text
    font-size: $formol-font-size * .85
    font-style: italic

    &::before
      background-color: currentColor
      content: ''
      display: inline-block
      height: 1px
      margin-right: .5em
      vertical-align: middle
      width: 1em
