{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    "dynamic-import-node",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-decorators",
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
