@import ../variables


// boolean element
.Formol_Field--type-checkbox .Formol_Field, .Formol_Field--type-radio .Formol_Field, .Formol_Field--type-checkbox-set .Formol_FieldSet, .Formol_Field--type-radio-set .Formol_FieldSet
  &__label
    align-items: center
    border: solid 1px
    border-radius: .15em
    box-sizing: border-box
    box-shadow: none
    color: $formol-color-inactive
    cursor: pointer
    display: inline-flex
    font: inherit
    margin: .5em 0
    max-width: 100%
    padding: .75em
    transition: color .2s, border-color .2s

    &:hover
      color: $formol-color

    &--on, &--on:hover
      color: inherit

  &__title
    font-size: $formol-font-size
    margin-left: .5em
    order: 1


// fieldset
.Formol_Field--type-checkbox-set, .Formol_Field--type-radio-set
  .Formol_FieldSet
    border: 0
    margin: .5em 0
    padding: 0

    &__label
      margin: 0 .5em .5em 0


.Formol_BooleanField
  margin: 0
