.Formol_PasswordField
    width: calc(100% - 1.75em)


.Formol_PasswordField, .Formol_PasswordStrengthField
  &__wrapper
    @extend .Formol_Field__element
    cursor: text
    max-width: 100%
    position: relative

    .Formol_Field__element
      +hidden-field__element

  &__eye
    background-color: $formol-color-inactive
    border: 0
    border-radius: 100%
    cursor: pointer
    opacity: .75
    padding: 0
    position: absolute
    right: .25em
    transition: opacity .2s
    transform: translateY(-50%)
    top: 50%
    z-index: 2

    svg
      margin: .45em

    &:hover
      opacity: 1
