.Formol_Field--type-password
  .Formol_Field__label
    flex-wrap: wrap
    flex-direction: row

  .Formol_Field__label-text
    width: 100%

  .Formol_InputField
    box-sizing: border-box
    padding-right: 2.5em


.Formol_PasswordField__eye
  align-self: center
  background-color: transparent
  border: 0
  box-sizing: border-box
  color: inherit
  cursor: pointer
  height: 2.5em
  padding: .5em
  outline: none
  transform: translateX(-2.5em)
  width: 2.5em
  z-index: 2
