.Formol_Field--type-password, .Formol_Field--type-password-strength
  .Formol_Field__label input
    box-sizing: border-box
    padding-right: 2.5em
    width: calc(100% - 1.75em)

.Formol_PasswordField__wrapper, .Formol_PasswordStrengthField__wrapper
  align-items: flex-start
  display: flex
  max-width: 100%


.Formol_PasswordField__eye, .Formol_PasswordStrengthField__eye
  background-color: transparent
  border: 0
  box-sizing: border-box
  cursor: pointer
  font: inherit
  margin-left: -2.5em
  margin-top: .5em
  outline: none
  padding: .75em
  position: relative
  z-index: 2
