.Formol_Field--type-range
  .Formol_Field
    &--focus
      color: $formol-color-action

    &__element
      background-color: transparent
      border: 0
      color: inherit
      padding-left: 0
      padding-right: 0



.Formol_RangeField
  align-items: center
  display: flex

  &__range
    border: 0
    padding: 0

  &__value-wrapper
    color: inherit
    position: relative
    transition: color .25s

  &__value
    left: 0
    text-align: center
    top: 100%
    width: 100%
    position: absolute

  &__min, &__max
    font-size: $formol-font-size / 1.25
