.Formol_RangeField
  align-items: center
  display: flex

  .Formol_RangeField__range
    border: 0
    padding: 0


.Formol_RangeField__value-wrapper
  position: relative

.Formol_RangeField__value
  top: 100%
  left: 0
  text-align: center
  width: 100%
  position: absolute

.Formol_RangeField__min, .Formol_RangeField__max
  font-size: $formol-font-size / 1.25
