@import ../mixins
@import ../variables


.Formol_HTMLField
  border: solid 1px
  border-radius: .15em
  margin: .5em 0
  padding: 0
  position: relative
  max-width: 100%
  width: $formol-big-field-size

  &__hidden-input
    +hidden-input

  .rdw-editor-wrapper
    border-color: inherit

  .rdw-editor-toolbar
    border-bottom-color: inherit
    margin-bottom: 0
    opacity: 1
    transition: padding .35s, opacity .35s
    transition-delay: .65s

    & > *
      border-color: inherit
      margin-top: 0
      transition: margin .5s
      transition-delay: .25s


  .rdw-editor-main
    .DraftEditor-root
      margin: 0
      max-height: 50vh
      min-height: 8em
      overflow: auto
      padding: 0 .75em

      .public-DraftEditorPlaceholder-root
        margin: 1em 0

      .public-DraftEditorPlaceholder-root, .DraftEditor-editorContainer
        z-index: 0


  .rdw-option-wrapper:hover
    border-color: $formol-color

  .rdw-option-active
    border-color: inherit

  img
    max-width: 100%


.Formol_Field--type-html
  &:not(.Formol_Field--focus)
    .rdw-editor-toolbar
      opacity: 0
      padding: 0
      position: relative
      transition-delay: .65s
      z-index: -1

      & > *
        margin-top: -5em
        transition-delay: 1s
