.Formol_HTMLField
  @extend .Formol_Field__element
  cursor: text
  padding: 0
  position: relative
  width: $formol-big-field-size

  &__hidden-input
    +hidden-input

  .rdw-editor-wrapper
    border-color: inherit

  .rdw-editor-toolbar
    border-bottom-color: inherit
    margin-bottom: 0

    & > *
      border-color: inherit
      margin-top: 0

  .rdw-editor-main
    .DraftEditor-root
      margin: 0
      max-height: 50vh
      min-height: 8em
      overflow: auto
      padding: 0 .75em

      .public-DraftEditorPlaceholder-root
        margin: 1em 0

      .public-DraftEditorPlaceholder-root, .DraftEditor-editorContainer
        z-index: 0


  .rdw-option-wrapper:hover
    border-color: $formol-color

  .rdw-option-active
    border-color: inherit

  img
    max-width: 100%


.Formol_Field--readOnly, .Formol_Field--disabled
  .rdw-editor-main
    .DraftEditor-root
      min-height: auto

  .rdw-editor-toolbar
    display: none
