@import variables


.Formol_Field.Formol_Field--type-password-strength
  margin-bottom: 1.5em

  .ReactPasswordStrength
    border: 0
    color: inherit
    font: inherit


  .ReactPasswordStrength-input
    font: inherit
    width: 100%


  .ReactPasswordStrength-strength-bar
    margin-left: 1px
    margin-top: -3px
    max-width: 100%


  .ReactPasswordStrength-strength-desc
    font-size: $font-size * .85
    font-style: normal
    font-weight: bold
    left: 0
    padding: 0
    text-align: left
    top: calc(100% + .5em)
    width: auto
