@import ../variables


.Formol_Field--type-password-strength
  margin-bottom: 2.5em

  .ReactPasswordStrength
    color: inherit
    font: inherit
    width: calc(100% - (#{$formol-field-padding} * 2 + .5em))


  .ReactPasswordStrength-input
    background-color: transparent
    color: inherit
    font: inherit
    padding: 0
    width: 100%


  .ReactPasswordStrength-strength-bar, .ReactPasswordStrength-strength-desc
    left: #{-$formol-field-padding}
    position: absolute
    right: auto
    top: calc(100% + #{$formol-field-padding} + .5em)


  .ReactPasswordStrength-strength-bar
    margin-top: -3px
    max-width: 100%


  .ReactPasswordStrength-strength-desc
    font-size: $formol-font-size * .85
    font-style: normal
    margin-top: .35em
    padding: 0
    text-align: left
    width: auto


.Formol_Field .ReactPasswordStrength
  &.is-strength-0
    .ReactPasswordStrength-strength-desc
      color: $formol-color-inactive

    .ReactPasswordStrength-strength-bar
      background-color: $formol-color-inactive

  &.is-strength-1, &.is-strength-2
    .ReactPasswordStrength-strength-desc
      color: $formol-color

    .ReactPasswordStrength-strength-bar
      background-color: $formol-color

  &.is-strength-3, &.is-strength-4
    .ReactPasswordStrength-strength-desc
      color: $formol-color-action

    .ReactPasswordStrength-strength-bar
      background-color: $formol-color-action
