.Formol_Field--type-select-menu
  max-width: 100%
  width: $formol-medium-field-size

  .Formol_SelectMenuField
    @extend .Formol_Field__element
    box-shadow: none
    color: inherit
    padding: 0

    > * > *
      border: 0 !important
      box-shadow: none !important

    &__menu
      border: solid 1px $formol-color-action !important

  .Select--multi .Select-value
    display: inline-flex

  .Select-menu-outer
    > * > * > * > *
      position: relative

      > *
        // max-width: 100%
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        width: 100%

.Formol_Field--readOnly
  .Select-control
    +read-only-field__element

  .Select-value
    padding: 0 !important


  .Select.is-disabled > .Select-control
    background-color: transparent

.Formol_SelectMenuField
  position: relative

  &__hidden-input
    +hidden-input

  .css-1rtrksz
    max-width: 100%

    > div
      max-width: 100%
      width: auto !important
