.Formol_Field--type-select-menu
  max-width: 100%
  width: $formol-medium-field-size

  .Select-control
    @extend .Formol_Field__element
    box-shadow: none
    color: inherit
    padding: 0

    // *
      color: inherit
      font: inherit
