.Formol_Field--type-select-menu
  max-width: 100%
  width: $formol-medium-field-size

  .Formol_Field
    &__element
      padding: 0

  .Select-control
    background-color: transparent
    border: 0
