@import url(https://fonts.googleapis.com/css?family=Niramit)

.Home
  font-family: 'Niramit', sans-serif
  margin: 0 auto
  max-width: 55em
  padding: 0 1em

  &__hero
    font-size: 3em

  &__version
    font-size: 0.5em
    color: #888

  &__nb
    color: #222
    font-style: italic

  article
    margin: 4em 0

  ul
    li
      margin: .5em 0

  pre
    margin: 2em 0 !important
